* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input_field {
	position: fixed;
	top: 0;
	width: 50%;
	height: 2.5rem;
}

input[type='text'] {
	width: 100%;
	height: 100%;
	font-size: 1rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
}

.wrapper {
	box-shadow: 5px 10px 10px #c0c0c0;
	width: 50%;
	text-align: center;
	margin-top: 2.5rem;
}

.no_result {
	padding: 2rem;
	margin: 2rem;
}

.alphabet {
	font-size: 1.2rem;
	background: #2f9f34b5;
	color: white;
	padding: 1rem;
}

.country {
	padding: 0.8rem;
	background: white;
	border-bottom: 0.6px solid #eee;
}

@media (min-width: 320px) and (max-width: 760px) {
	.wrapper {
		width: 100%;
	}
	.input_field {
		width: 100%;
	}
}
